body{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
	height: auto;
}

.overlay-title{
	position: absolute;
	color: white;
	text-align: center;
	top: 30%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	font-size: 35px;
}

.overlay-caption{
	position: absolute;
	color: white;
	text-align: center;
	font-size: 25px;
	top: 40%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	font-style: italic;


}